<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skhu.feeder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TakdoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".OndoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".AlarmReceiver" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>